<%# NAVIGATION %>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="\home">
      <img src="logoruf.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="\products">
        Jazdenky
      </a>

      <a class="navbar-item" href="https://www.rufautomobile.co.uk/">
        RUF automobile UK
      </a>

      <a class="navbar-item" href="#">
        Simulácia jazdy "Rufákmi"
      </a>

       <a class="navbar-item" href="\contact">
        Kontakt
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav><br><br><br><br>

<div class="center">
<h1 class="title is-1">KONTAKTUJTE NÁS</h1>
</div><br>

<section>
<div class="center">
 <h1 class="title is-1">&#11163;</h1>
 </div><br><br>
  <div class="columns">
  <div class="column is-half">
  <div  class="center">
   <p>Monday - Friday</p><br>
   <p>08:00 - 18:00</p><br>
   <p>Saturday</p><br>
   <p>10:00 - 18:00</p><br>
   <p>Sunday</p><br>
   <p>Closed</p><br>
   <p>Viewing By Appointment </p><br>
   <p>Filip: 0044 1552 506 911</p><br>
   <p>Martin: 0044 7494 501 457</p><br>
   <p>Peter: 0044 7829 890 969</p><br>
   <p>Simon: 0044 7800 890 969</p><br>


  </div>
  </div>
  <div class="column">
  <div  class="center">
  <p>If you have an enquiry relating to a Vehicle, New and Pre-Owned, Parts and Accessories or anything RUF-related, then please reach out
   below</p><br>

<p>85 High Street, Royal Tunbridge Wells, Kent. TN1 1XP, SLOVAKIA</p><br>

<p>INFO@FAN_RUF_ESHOP.COM</p><br><br>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10601.163700248326!2d17.572095855475766!3d48.374147423453124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssk!2ssk!4v1700432563165!5m2!1ssk!2ssk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section><br><br>

<footer>
<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul class="breadcrumb is-medium">
    <li><a href="\home">Hore</a></li>
    <li><a href="\products">Jazdenky</a></li>
    <li><a href="\contact">Kontakt</a></li>
    <li><a href="https://www.rufautomobile.co.uk/">RUF automobile UK</a></li>
  </ul>
  <p class="center">2023 RUF AUTOMOBILE / FAN_RUF_ESHOP</p>
</nav>
</footer>

