<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="\home">
      <img src="logoruf.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="\products">
        Jazdenky
      </a>

      <a class="navbar-item" href="\contact">
        Kontakt
      </a>

      <a class="navbar-item" href="https://www.rufautomobile.co.uk/">
        RUF automobile UK
      </a>

      <a class="navbar-item" href="#">
        Simulácia jazdy "Rufákmi"
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<main>

<section class="section is-large">
  <h1 class="title">Automobilka RUF</h1>
  <%= image_tag("RufProductOne.png", alt: "RUF yellow bird") %>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>

<section class="section is-large">
  <h1 class="title">Automobilka RUF</h1>
  <%= image_tag("RufProductOne.png", alt: "RUF yellow bird") %>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>

<section class="section is-large">
  <h1 class="title">Automobilka RUF</h1>
  <%= image_tag("RufProductOne.png", alt: "RUF yellow bird") %>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>

<section class="section is-large">
  <h1 class="title">Automobilka RUF</h1>
  <%= image_tag("RufProductOne.png", alt: "RUF yellow bird") %>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>

</main>

<footer>
<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul class="breadcrumb is-medium">
    <li><a href="\home">Hore</a></li>
    <li><a href="\products">Jazdenky</a></li>
    <li><a href="\contact">Kontakt</a></li>
    <li><a href="https://www.rufautomobile.co.uk/">RUF automobile UK</a></li>
  </ul>
</nav>
</footer>

