/**
    * GENERAL
    */

body {
    padding: 1rem;
    min-height: 100vh;
    background-color: rgb(0, 36, 0);
}

.logo {

  width: 50%; /* Nastavte požadovanú šírku */
  height: auto; /* Automaticky zachová proporcie obrázka */
  margin-left: 25%;
}

.title {

    font-weight: 900;
}

form .is-grouped {

    margin-top: 2rem;
}

form .trix-content {

    min-height: 12rem;
}

.edit-links {

    display: flex;
    justify-content: space-between;
}

.full-star {

    color: orange;
}

.center {

    text-align: center;
}

.footer {

    border-radius: 2%;
}

section {

    background-color: white;
    border-radius: 2%;
}

table {

    margin-left: 27%;
}

.intro {

    background-image: url('ruf_sport.jpg');
    background-size: cover; /* Prispôsobí obrázok tak, aby pokryl celú obrazovku */
    background-position: center; /* Zarovná obrázok na stred */
}

video {
    border-radius: 15px; /* nastavení oblé hrany */
    animation: myAnim 20s ease 0s 15 reverse forwards;
    width: 100%;
    height: auto;
  }

@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.home_images {

    border-radius: 2%;
}

.top_images {

    border-radius: 2%;
    animation: myAnim 30s ease 0s 200 normal forwards;
}

.top_top_images {

    border-radius: 2%;
    animation: myAnim 15s ease 0s 200 normal forwards;
}
